* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

body {
	background-color: #242424;
}

header{
	margin-bottom: 1.2rem;
	font-weight: 700;
	font-size: 2rem;
}

.container {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding: 1rem;
	background-color: #575757;
	border-radius: 0.5rem;
}

section.converter {
	display: flex;
	flex-direction: row;
	align-items: end;
	gap: 1.3rem;
}

.input {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.select {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.input input {
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
	background-color: #666666;
	border: none;
}

.input input:focus {
	outline: 2px solid #979797;
}

.select select {
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
	background-color: #666666;
	border: none;
}

.select select:focus {
	outline: 2px solid #979797;
}

label{
	font-weight: 600;
}

.swap{
	cursor: pointer;
}

section.result{
	padding: 1rem;
	min-width: 15rem;
	background-color: #666666;
	margin-top: 1rem;
	border-radius: 0.5rem;
}

section p {
	font-weight: 700;
}

section p.loading{
	background-color: #575757;
	animation: loading 1s infinite;
}

@keyframes loading {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

